<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/template.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="nav-custom navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('homepage') }}" class="navbar-brand">My test App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get( '_route' ) == 'homepage' %} class="active"{% endif %}>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                {% if users.isLoggedIn() %}
                    <li {% if app.request.attributes.get( '_route' ) starts with 'products' %} class="active"{% endif %}>
                        <a href="{{ path('products') }}">Products</a>
                    </li>
                {% endif %}
            </ul>
            {% if users.isLoggedIn() %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">{{ users.getNavMessage() }}</li>
                    <li><a href="{{ path('logout') }}" class=""><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('signup_homepage') }}"><span class="glyphicon glyphicon-user"></span>
                            Signup</a></li>
                    <li><a href="{{ path('login_homepage') }}"><span class="glyphicon glyphicon-log-in"></span>
                            Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">

    {% block body %}{% endblock %}
</div>
<script src="{{ asset('js/javascript.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
